<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="Conn" connectionString="Data Source=DESKTOP-8OPURP7\SQL2012;Initial Catalog=RIYALOJOBCARD;User ID=sa;Password=SASPIN" />
    <add name="JOBCARD.My.MySettings.Cnn_Job" connectionString="Data Source=DESKTOP-8OPURP7\SQL2012;Initial Catalog=RIYALOERPDB100;Persist Security Info=True;User ID=sa;Password=SASPIN"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
